# Supabase Database Credentials
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DBNAME"

# Brevo Credentials
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=your-smtp-user
SMTP_PASS=your-smtp-pass
